version: '3.8'
services:
  react-app:
    build: ../shop-lotusmiles-frontend copy
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
